nav > ul > li{
     display: inline;
     margin-right: 15px;
     text-decoration: none;
}

nav > ul > li > a{
    text-decoration: none;
    color: red;
}


footer{
    align-items: center;
    margin: 15px;
}

